<div class="modal fade modal-conf" tabindex="-1" role="dialog" aria-labelledby="modallabel-test">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modallabel-test">Számítási konfiguráció</h4>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">


                        <tabset>
                            <tab>
                                <tab-heading>
                                    Adatforrások kiválasztása
                                    <span ng-show="calculationConfiguration.selectedDataSources.length>0" class='badge'>{{calculationConfiguration.selectedDataSources.length}}</span>
                                </tab-heading>
                                <div ng-include="'app/calculation-configuration/templates/_datasources.html'"></div>

                            </tab>
                            <tab disable="calculationConfiguration.selectedDataSources.length==0">
                                <tab-heading>
                                    Adatok szűrése
                                    <span ng-show="conditions.conditions.length>0" class='badge'>{{conditions.conditions.length}}</span>
                                </tab-heading>
                                <condition-editor config="conditionConfiguration"
                                                  condition="calculationConfiguration.conditions"></condition-editor>
                            </tab>
                            <tab heading="Számítás típusa" disable="calculationConfiguration.selectedDataSources.length==0">
                                <div ng-include="'app/calculation-configuration/templates/_select_calculation.html'"></div>
                            </tab>
                            <tab heading="Adatmezők kiválasztása"
                                 disable="calculationConfiguration.selectedDataSources.length==0 || selectedCalculation==null">

                                <div ng-include="'app/calculation-configuration/templates/_calculation_config.html'"></div>

                            </tab>
                        </tabset>


                    </div>


                </div>


            </div>


        </div>
    </div>
</div>
