<div class="row">
    <div class="col-md-12">

        <tabset>
            <tab>
                <tab-heading>
                    Adatforrások kiválasztása
                    <span ng-show="selectedDataSources.length>0" class='badge'>{{selectedDataSources.length}}</span>
                </tab-heading>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center"><h3>Elérhető adatforrások</h3></div>

                        <ul id="available-datasources" class="nav nav-datasource" dragula='"first-bag"'
                            dragula-model="availableDataSources">
                            <li class="datasource-card" ng-repeat="item in availableDataSources">
                                <ds-card></ds-card>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <div class="text-center"><h3>Kiválasztott adatforrások</h3></div>
                        <ul id="selected-datasources" class="nav nav-datasource" dragula='"first-bag"'
                            dragula-model="selectedDataSources">

                            <div ng-show="selectedDataSources.length==0" class="ul-empty">Húzzon bele egy adatforrást!
                            </div>
                            <li class="datasource-card" ng-repeat="item in selectedDataSources">
                                <ds-card></ds-card>
                            </li>

                        </ul>
                    </div>
                </div>
            </tab>
            <tab heading="Adatok szűrése" disable="selectedDataSources.length==0">
                <h2>Fejlesztés alatt!</h2>
            </tab>
            <tab heading="Számítás típusa" disable="selectedDataSources.length==0">
                                       <h2 class="text-center">Válassza ki a számítás típusát!</h2>

                <div class="col-md-3" ng-repeat="calculation in calculations">
                    <button
                            class="btn btn-lg btn-block"
                            ng-class="selectedCalculation==calculation ? 'btn-primary':''"
                            ng-click="selectCalculation(calculation)">
                        <i class="fa fa-check" ng-show="selectedCalculation==calculation"></i>
                        {{calculation.name}}
                    </button>
                </div>


            </tab>
            <tab heading="Adatmezők kiválasztása"
                 disable="selectedDataSources.length==0 || selectedCalculation==null">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>Tábla neve</th>
                            </tr>
                            <tr ng-repeat="ds in selectedDataSources">
                                <th>{{ds.table.sql_name}}</th>
                                <td ng-repeat="column in ds.table.columns">
                                    {{column.sql_name}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </tab>
        </tabset>


    </div>


</div>


</div>
