<span data-toggle="modal" data-target=".modal-conf"
      class="btn btn-default">
    <i class="fa fa-plus"></i> Új számítási konfiguráció
</span>


<div class="modal fade modal-conf" tabindex="-1" role="dialog" aria-labelledby="modallabel-test">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modallabel-test">Számítási konfiguráció</h4>
            </div>

            <div class="panel-body" >

                <div class="row">
                    <div class="col-md-12">

                        <tabset>
                            <tab>
                                <tab-heading>
                                    Adatforrások kiválasztása
                                    <span ng-show="selectedDataSources.length>0" class='badge'>{{selectedDataSources.length}}</span>
                                </tab-heading>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-center"><h3>Elérhető adatforrások</h3></div>

                                        <ul id="available-datasources" class="nav nav-datasource" dragula='"first-bag"'
                                            dragula-model="availableDataSources">
                                            <li class="datasource-card" ng-repeat="item in availableDataSources">
                                                <ds-card></ds-card>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center"><h3>Kiválasztott adatforrások</h3></div>
                                        <ul id="selected-datasources" class="nav nav-datasource" dragula='"first-bag"'
                                            dragula-model="selectedDataSources">

                                            <div ng-show="selectedDataSources.length==0" class="ul-empty">Húzzon bele
                                                egy adatforrást!
                                            </div>
                                            <li class="datasource-card" ng-repeat="item in selectedDataSources">
                                                <ds-card></ds-card>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Adatok szűrése" disable="selectedDataSources.length==0">
                                <h2>Fejlesztés alatt!</h2>
                            </tab>
                            <tab heading="Számítás típusa" disable="selectedDataSources.length==0">
                                <h2 class="text-center">Válassza ki a számítás típusát!</h2>

                                <div class="col-md-3" ng-repeat="calculation in calculations">
                                    <button
                                            class="btn btn-lg btn-block"
                                            ng-class="selectedCalculation==calculation ? 'btn-primary':''"
                                            ng-click="selectCalculation(calculation)">
                                        <i class="fa fa-check" ng-show="selectedCalculation==calculation"></i>
                                        {{calculation.name}}
                                    </button>
                                </div>


                            </tab>
                            <tab heading="Adatmezők kiválasztása"
                                 disable="selectedDataSources.length==0 || selectedCalculation==null">
                                <div ng-include="getCalculationTemplate()"></div>
                            </tab>
                        </tabset>


                    </div>


                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <h2>
                            <button class="btn btn-primary btn-lg">Konfiguráció mentése</button>
                        </h2>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

