<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Számolás paraméterek</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Név</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Név"
                           ng-model="calculationConfiguration.name">
                </div>
            </div>

        </form>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Adatmezők konfigurálása </h3>
    </div>
    <div class="panel-body">
        <h3 class="text-center">Válassza ki azt az oszlopot amelyen a számolást szeretné elvégezni!</h3>
        <column-selector></column-selector>
    </div>
</div>