<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Regresszió számítási paraméterek</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Név</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Név"
                           ng-model="calculationConfiguration.name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">


                    <div class="radio">
                        <label>
                            <input type="radio" name="regression_type" value="logic"
                                   ng-model="calculationConfiguration.regression_type">
                            Logisztikus regresszió
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="regression_type" value="kmeans"
                                   ng-model="calculationConfiguration.regression_type">
                            KMeans klaszterezés
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="calculationConfiguration.regression_type=='kmeans'">
                <label for="clusters" class="col-sm-2 control-label">Klaszterek száma</label>

                <div class="col-sm-2">
                    <input type="number" class="form-control" id="clusters" placeholder="Klaszterek száma"
                           ng-model="calculationConfiguration.clusters">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="calculationConfiguration.principal"> Főkomponens elemzés
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="calculationConfiguration.principal">
                <label for="princpal_components" class="col-sm-2 control-label">Főkomponensek száma</label>

                <div class="col-sm-2">
                    <input type="number" class="form-control" id="princpal_components" placeholder="Főkomponensek száma"
                           ng-model="calculationConfiguration.princpal_components">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="calculationConfiguration.normalization"> Adatok normalizálása
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Adatmezők konfigurálása </h3>
    </div>
    <div class="panel-body">
        <h3 class="text-center">Válassza ki az X és Y oszlopokat!</h3>
        <column-selector></column-selector>
    </div>
</div>

