<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>Tábla neve</th>
                {{selectedCalculation}}
                <th ng-repeat="column in calculationConfiguration.columns">
                    {{column}}
                    <select class="form-control"
                            ng-model="column.selectedCalculationId"
                            ng-options="group.id as group.name for group in selectedCalculation.groups">
                        <option value=""></option>
                    </select>
                </th>
            </tr>
            <tr ng-repeat="ds in selectedDataSources">
                <th>{{ds.table.sql_name}}</th>
                <td ng-repeat="column in ds.table.columns">
                    {{column.sql_name}}
                </td>
            </tr>
        </table>
    </div>
</div>
