.condition-editor .remove {
  text-decoration: none;
  cursor: hand;
  opacity: 0.9; }
.condition-editor .remove:hover {
  opacity: 0.4; }
.condition-editor .label {
  margin: 10px 10px 10px 10px; }
.condition-editor .open-parenthesis {
  margin: 10px -15px 10px 10px !important; }
.condition-editor .close-parenthesis {
  margin: 10px 10px 10px -5px !important; }
