<div class="alert alert-danger" ng-show="formErrors.length>0">
    <h3>Hiba történt a mentés során!</h3>
</div>

<form ng-submit="submit()" name="form" novalidate>
    <formly-form model="modell" fields="fieldConfig" form="form">
        {{modell}}
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Mentés</button>
    </formly-form>
</form>


<script type="text/ng-template" id="datepicker.html">
    <p class="input-group">
        <input type="text"
               id="{{::id}}"
               name="{{::id}}"
               ng-model="model[options.key]"
               class="form-control"
               ng-click="datepicker.open($event)"
               datepicker-popup="{{to.datepickerOptions.format}}"
               is-open="datepicker.opened"
               datepicker-options="to.datepickerOptions"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"><i
                    class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
</script>


<script type="text/ng-template" id="datetimepicker.html">
    <div class="dropdown">
        <a class="dropdown-toggle" id="dropdown{{::id}}" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group"><input type="text" class="form-control"
                                            id="{{::id}}"
                                            name="{{::id}}"
                                            data-ng-model="model[options.key]"><span class="input-group-addon"><i
                    class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker
                            data-ng-model="model[options.key]"
                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
        </ul>
    </div>
</script>

<!-- Put custom templates here -->
<script type="text/ng-template" id="validation.html">
    <div ng-message="required">A mező kitöltése kötelező.</div>
    <div ng-message="inRange">Az értéknek {{options.templateOptions.min}} és {{options.templateOptions.max}} közé kell
        esnie.
    </div>
    <div ng-message="minlength">Túl rövid.</div>
    <div ng-message="maxlength">Túlhosszú.</div>
    <div ng-message="email">Az email cím formátuma nem megfelelő.</div>
</script>