<h1><a href="#data-manager/new" class="btn btn-primary"><i class="fa fa-plus"> {{config.name}} adat létrehozása</i></a></h1>

<div class="panel panel-primary">
    <div class="panel-heading">{{config.name}} adatok listája</div>
    <div class="panel-body">

        <table class="table ">
            <tr>
                <th ng-repeat="head in gridConfig">{{head.name}}</th>
                <th style="min-width: 50px"></th>
            </tr>
            <tr ng-repeat="item in modells">
                <td ng-repeat="col in gridConfig">{{item[col.id]}}</td>

                <td>
                    <a ng-href="#/data-manager/{{item.id}}/edit"><i class="fa fa-pencil"></i> </a>
                    <a href="" ng-click="delete(item)"><i class="fa fa-trash"></i> </a>
                </td>

            </tr>
        </table>

    </div>
</div>
