<h1><a href="#data-manager/new" class="btn btn-primary"><i class="fa fa-plus"> Kőzetmodell adat létrehozása</i></a></h1>

<div class="panel panel-primary">
    <div class="panel-heading">Kőzetmodell adatok listája</div>
    <div class="panel-body">

        <table class="table ">
            <tr>
                <th>Id</th>
                <th>Belső kőzetmag készítési dátum</th>
                <th>Préselés készítő neve</th>
                <th>Belső átmérő készítési dátum</th>
                <th>Belső átmérő készítő neve</th>
                <th>Létrehozás ideje</th>
                <th>Módosítás ideje</th>
                <th style="min-width: 50px"></th>
            </tr>
            <tr ng-repeat="kozetModell in kozetModells">
                <td>{{kozetModell.id}}</td>
                <td>{{kozetModell.belso_kozetmag_keszitesi_datum}}</td>
                <td>{{kozetModell.preseles_keszito_neve}}</td>
                <td>{{kozetModell.belso_atmero_keszitesi_datum}}</td>
                <td>{{kozetModell.belso_atmero_keszito_neve}}</td>
                <td>{{kozetModell.created}}</td>
                <td>{{kozetModell.updated}}</td>

                <td>
                    <a ng-href="#/data-manager/{{kozetModell.id}}/edit"><i class="fa fa-pencil"></i> </a>
                    <a href="" ng-click="delete(kozetModell)"><i class="fa fa-trash"></i> </a>
                </td>

            </tr>
        </table>

    </div>
</div>
